{% extends 'index.html'%}
{% block content %}
<div class="container">
        <h2 class="title"> Patient Management</h2>
        <!-- SearchBar which filter the list based on name, email and phone -->
        <div class="row">
            <form class="form-inline my-2 my-lg-0" method="GET">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="q" value="{{ request.GET.q }}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <a class="addPatient_btn" href="{% url 'createPat' %}">Add Patient</a>
        </div>
        <!-- column titles -->
        <div class="row">
            <div class="col col-title">
                <h4>ID</h4>
            </div>
            <div class="col col-title">
                <h4>Name</h4>
            </div>
            <div class="col col-title">
                <h4>Sex</h4>
            </div>
            <div class="col col-title">
                <h4>Email</h4>
            </div>
            <div class="col col-title">
                <h4>Phone</h4>
            </div>
            <div class="col col-title">
                <h4>D.O.B</h4>
            </div>
            <div class="col col-title">
                <h4>Nationality</h4>
            </div>
            <div class="col col-title">
                <h4>Medical History</h4>
            </div>
            <div class="col"></div>
        </div>
        <!-- Values of the patients -->
        {% for patient in patients %}
            <div class="row">
                <div class="col">
                    <p class="patient_attr">{{patient.id}}</p>
                </div>
                <div class="col">
                    <p class="patient_attr">{{patient.name}}</p>
                </div>
                <div class="col">
                    <p class="patient_attr">{{patient.sex}}</p>
                </div>
                <div class="col">
                    <p class="patient_attr">{{patient.email}}</p>
                </div>
                <div class="col">
                    <p class="patient_attr">{{patient.phone}}</p>
                </div>
                <div class="col">
                    <p class="patient_attr">{{patient.date_of_birth}}</p>
                </div>
                <div class="col">
                    <p class="patient_attr">{{patient.nationality}}</p>
                </div>
                <!-- Button which opens the medical history of the patient -->
                <div class="col text-center">
                    <a class="viewMedHist_btn" href="{% url 'viewMedHist' patient.id %}">View</a>
                    
                </div>
                <!-- Button which deletes all records of the patient -->
                <div class="col">
                    <a class="delete_btn" href="{% url 'deletePatient' patient.id%}"><i class="fa-solid fa-trash"></i></a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
