{% extends 'index.html' %}
{% block content %}

<style>
    .medhist{
        background-color: #D9D9D9;
    }
    .main{
        background-color: white;
        
        margin-left: 50px;
        margin-right:50px;
        margin: auto;
    }
    
</style>

<div class="main">
    <div class="row">
        <div class="col patientListbtn">
            <a href="{% url 'patientList' %}"><i class="fa-solid fa-arrow-left"></i>Patient List</a>
        </div>
        <div class="col">

        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h2>{{patient.name}}</h2>
            <p>Sex : {{patient.sex}}</p>
            <p>Email: {{patient.email}}</p>
            <p>Phone: {{patient.phone}}</p>
            <p>Date of birth: {{patient.date_of_birth}}</p> 
        </div>
        <div class="col medhist">
            <h5>Allergies</h5>
            <p>{{ patient.allergies }}</p>
            <h5>Medical / Surgical History</h5>
            {% if patient.Medical_Surgical_History %}
                <p>{{ patient.Medical_Surgical_History }}</p>
            {% else %}
                <p>No information available</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}